// Featured sections
.featured-dark {
  padding: 4em;

  h1, h6 {
    color: @color-white !important;
  }

  p {
    color: @color-white !important;
    font-size: 16px;
  }
}

.featured-light {
  padding: 4em;

  h6 {
    color: @color-master !important;
  }

  p {
    color: @color-master !important;
    font-size: 16px;
  }
}

.dark-blue {
  color: @color-dark !important;
}

.dark-blue {
  color: @lead-dark-blue !important;
}

.light-blue {
  color: @lead-light-blue !important;
}

.bg-dark {
  background: @color-dark !important;

  h1, h6, p {
    color: @color-white !important;
  }

  .block-title {
    color: @color-white !important;
  }
}

.bg-dark-blue {
  background: @lead-dark-blue !important;

  h1, h6, p {
    color: @color-white !important;
  }

  .block-title {
    color: @color-white !important;
  }
}

.bg-light-blue {
  background: @lead-light-blue !important;
}