{{ partial "header.html" . }}
{{ partial "pagenav.html" . }}

<div class="page-wrappers">

  <section class="p-b-30 p-t-60 bg-master-lighter">
    <div class="container">
    <div class="row">
      <div class="col-sm-12">

          <h1 id="title">{{ .Title }}</h1>
          <article id="content">
             {{ .Content }}
          </article>

        </div>
      </div>
    </div>
  </section>
</div>

<!-- footer -->
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
