<div class="alert alert-warning" role="alert" style="font-weight: 500"><b>ACHIEVEMENT:</b> LeadEPC was recently awarded with a Level 1 BBBEE Certificate under the new codes with Procurement Recognition Level : 135% and Total Points Scored : 102.95.</div>

<div id="about" class="container featured-light">
    <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 class="m-t-5 light">
                We Always Deliver More Than Expected                </h1>
        </div>
    </div>
    <div class="md-p-l-20 xs-no-padding clearfix">

                        <div class="col-sm-4 no-padding">
                <div class="p-r-40 md-p-r-30 xs-no-padding text-center">
                    <div class="icon-wrapper hidden-xs hidden-sm">
                        <img alt="" src="assets/icons/icon_45458.svg">
                    </div>
                    <h6 class="block-title p-b-5 m-t-40">EPC Projects <i class="pg-arrow_right m-l-10"></i></h6>
                    <p class="m-b-30">
                        </p><p>Our EPC business model provides our clients with the peace of mind that we take responsibility for all elements of project engineering, procurement, logistics, construction, and commissioning.</p>                        <p></p>
                </div>
                <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>
                        <div class="col-sm-4 no-padding">
                <div class="p-r-40 md-p-r-30 xs-no-padding text-center">
                    <div class="icon-wrapper hidden-xs hidden-sm">
                        <img alt="" src="assets/icons/icon_54119.svg">
                    </div>
                    <h6 class="block-title p-b-5 m-t-40">Our Team <i class="pg-arrow_right m-l-10"></i></h6>
                    <p class="m-b-30">
                        </p><p>Over the past 4 decades, our experienced team has successfully executed multi-disciplinary projects across multiple industry sectors. Our commitment and drive to meet client requirements is second to none.</p>                        <p></p>
                </div>
                <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>
                        <div class="col-sm-4 no-padding">
                <div class="p-r-40 md-p-r-30 xs-no-padding text-center">
                    <div class="icon-wrapper hidden-xs hidden-sm">
                        <img alt="" src="assets/icons/icon_37433.svg">
                    </div>
                    <h6 class="block-title p-b-5 m-t-40">System Integrator <i class="pg-arrow_right m-l-10"></i></h6>
                    <p class="m-b-30">
                        </p><p>As an independent system integrator with strong relationships with all major OEM’s we can ensure that best of breed components and systems are selected to ensure our client’s receive the best technical solution.</p>                        <p></p>
                </div>
                <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>

    </div>
</div>
