  <section class="featured-dark relative" style="background: url('/assets/images/featured_craft.gif') center center no-repeat;">
  <div class="container">
      <div class="md-p-l-20 md-p-r-20 m-b-20 xs-no-padding">
          <div class="row p-t-85">
              <div class="col-sm-6 col-md-6">
                  <h1>We are Devoted to our Craft</h1>
<p>We embrace the challenges offered by the markets that we serve and are constantly developing partnerships and business relationships that allow us to enhance our service offerings.</p>
<p>Building on the successful track record and solid reputation of its management and staff, Lead EPC combines its multi-disciplinary competence, capacity, knowledge, innovative technologies and experience to meet or exceed its customer and partner expectations.</p>                </div>
              <div class="col-sm-6 col-md-6">
              </div>
          </div>
      </div>
  </div>
</section>
<section class="featured-light relative">
  <div class="container">
      <div class="md-p-l-20 md-p-r-20 m-b-20 xs-no-padding">
          <div class="row p-t-85">
              <div class="col-sm-6 col-md-6">
                  <img class="img-responsive" src="/assets/images/featured_pragmatic.gif">
              </div>
              <div class="col-sm-6 col-md-6">
                  <h1>Professional &amp; Pragmatic Approach</h1>
<p>Our project management, engineering, and contracting services span the entire capital project life-cycle from feasibility stage through to commissioning and start up, and we tailor our service offering to meet our clients’ commercial requirements.</p>
<p>Our approach to projects is professional and pragmatic, combining specialist engineering skills, an innovative approach to problem solving, and a “can-do” commitment to deliver projects under the most difficult conditions.</p>                </div>
          </div>
      </div>
  </div>
</section>
<section class="featured-dark relative" style="background: url('/assets/images/featured_solar.gif') center left no-repeat;">
  <div class="container">
      <div class="md-p-l-20 md-p-r-20 m-b-20 xs-no-padding">
          <div class="row p-t-85">
              <div class="col-sm-6 col-md-6">
                  <h1>Facilitating African Infrastructure</h1>
<p>Lead EPC has an extensive presence across Africa and the Middle East enabling us to serve our clients in multiple locations with a consistently high level of service.</p>
<p>We offer in-house capabilities in the construction of electrical, control and instrumentation installations, to incorporate civil, building, and structural construction capabilities into its service offerings.</p>                </div>
              <div class="col-sm-6 col-md-6">
              </div>
          </div>
      </div>
  </div>
</section>
