<section id="footer" class="p-b-70 p-t-55">
<div class="container">
    <div class="row" id="contact">
        <div class="col-md-7">
          <!-- padding -->
        </div>
        <div class="col-md-5">
          <ul class="no-style fs-12 no-padding pull-right xs-pull-left xs-m-t-20">
            <li class="inline no-padding"><a href="https://www.facebook.com/Lead-EPC-1433348443578372/" class="text-black p-l-30 fs-16 xs-no-padding"><i class="fa fa-facebook"></i></a></li>
            <li class="inline no-padding"><a href="{{ .RSSLink }}" type="application/rss+xml" target="_blank" class="text-black p-l-30 fs-16"><i class="fa fa-rss"></i></a></li>
            <li class="inline no-padding"><a href="https://www.linkedin.com/company/lead-epc" class="text-black p-l-30 fs-16"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
    </div>

      <div class="row m-t-30">
        <div class="col-sm-4 col-xs-12 xs-m-b-20">
          <img class="img-responsive" alt="" src="/assets/images/logo.jpg">
          <p class="fs-14">
            </p><p>Lead EPC House, cnr. Hertz Blvd,<br>
and Becquerel St. Vanderbijlpark.<br>
South Africa.</p>          <p></p>
        </div>

        <div class="col-sm-3 col-xs-6 xs-m-b-20">
          <h3>Services</h3>
          <ul class="no-style no-padding">
            <li class="m-b-5 no-padding"><a class="link text-black" href="#services">Control &amp; Automation</a></li>
            <li class="m-b-5 no-padding"><a class="link text-black" href="#services">Electrical &amp; Instrumentation</a></li>
            <li class="m-b-5 no-padding"><a class="link text-black" href="#services">Multi-disciplined</a></li>
            <li class="m-b-5 no-padding"><a class="link text-black" href="#services">Mechanical &amp; Piping Fabrication</a></li>
          </ul>
        </div>

        <div class="col-sm-3 col-xs-6 xs-m-b-20">
          <h3>Contact Us</h3>
          <p>Tel: +27(0) 16 933 3925<br>
Fax: +27(0) 16 933 3796<br>
Email: contact@leadepc.com</p>
<p>Office Co-ordinates:<br>
26.69686 S, 27.83121 E</p>        </div>
      </div>

</div>
</section>

<section class="p-t-10 p-b-10 bg-master-lightest">
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <p class="fs-11 no-margin font-arial small-text">
        <a href="/terms">Terms</a> -
        <a href="/privacy">Privacy</a> -
        <a href="/assets/documents/LEAD_PAIA.pdf" target="_blank">PAIA</a>
      </p>
    </div>
    <div class="col-sm-5 text-right">
      <p class="fs-11 no-margin font-arial small-text">
        </p><p><a href="http://www.leadepc.com">Lead EPC</a> © 2016</p>      <p></p>
    </div>
  </div>
</div>
</section>
