<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <title>Lead EPC | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="This is a Kirby site for Lead EPC.">
    <meta name="keywords" content="Engineering, Procurement, Construction">
    <!-- /meta -->

    <!-- rss -->
    <link rel="alternate" type="application/rss+xml" href="/news/feed" title="News Feed">
    <!-- /rss -->

    <!-- icons -->
    {{ partial "favicons.html" . }}

    <!-- plugins -->
    <link href="/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/plugins/swiper/css/swiper.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/assets/plugins/lightbox/css/lightbox.css" rel="stylesheet" type="text/css">
    <!-- /plugins-->

    <!-- pages -->
    <link class="main-stylesheet" href="/pages/css/pages.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- /pages -->

    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

</head>
<body class=" mac desktop pace-done"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div><!-- /header -->
