<section id="projects" class="bg-master-lightest">
<!-- START PORTFOLIO SECTION -->
<div class="container">
     <div class="text-center m-t-40 m-b-40">
       <h2>You're in good hands.        </h2></div>
</div>
<div class="container">
   <div class="col-sm-12">
   <div class="gallery" style="position: relative; height: 455px;">
          <div class="grid-sizer col-sm-3 col-xs-6 no-padding"></div>

          <!-- START GALLERY ITEM -->


                       <a href="/assets/profiles/kaxu-solar-one.pdf" target="_blank">

          <div class="gallery-item col-sm-6 no-padding hover-zoom" style="position: absolute; left: 0px; top: 0px;">

          <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title text-white no-margin">Kaxu Solar One Construction</h5>
          <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">2014</h6>
          <p class="font-arial fs-11 text-white m-t-5 m-b-0">Electrical, Control and Instrumentation</p>
          </div>


                       <div class="ar-2-1">
          <div data-pages-bg-image="/assets/images/projects/solar-one.gif" data-bg-overlay="black" data-overlay-opacity="0.4" style="background-image: url(/assets/images/projects/solar-one.gif); border: 1px solid white;">
          <div class="bg-overlay" style="opacity: 0.4; background-color: black;"></div>
          <div class="bg-overlay" style="opacity: 1; background-color: black;"></div></div>
          </div>

          </div>
          </a>



                       <a href="/assets/profiles/sulphur-reduction-plant.pdf" target="_blank">

          <div class="gallery-item col-sm-3 no-padding hover-zoom" style="position: absolute; left: 455px; top: 0px;">

          <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title text-white no-margin">Sierra Rutile Sulphur Phase 1</h5>
          <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">2014</h6>
          <p class="font-arial fs-11 text-white m-t-5 m-b-0">Design, Manufacturing, Supply, Delivery, Installation and Commission the…</p>
          </div>


                       <div class="ar-1-1">
          <div data-pages-bg-image="/assets/images/projects/sulphur-reduction.gif" data-bg-overlay="black" data-overlay-opacity="0.4" style="background-image: url(/assets/images/projects/sulphur-reduction.gif); border: 1px solid white;">
          <div class="bg-overlay" style="opacity: 0.4; background-color: black;"></div>
          <div class="bg-overlay" style="opacity: 1; background-color: black;"></div></div>
          </div>

          </div>
          </a>



                       <a href="/assets/projects/3-project-sierra-rutile-dry-mill/dry-mill.pdf" target="_blank">

          <div class="gallery-item col-sm-3 no-padding hover-zoom" style="position: absolute; left: 682px; top: 0px;">

          <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title text-white no-margin">Sierra Rutile Dry Mill, Fines Circuit</h5>
          <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">2014</h6>
          <p class="font-arial fs-11 text-white m-t-5 m-b-0">Design, Manufacturing, Supply, Delivery, Installation and Commission the…</p>
          </div>


                       <div class="ar-1-1">
          <div data-pages-bg-image="/assets/images/projects/dry-mill.gif" data-bg-overlay="black" data-overlay-opacity="0.4" style="background-image: url(/assets/images/projects/dry-mill.gif); border: 1px solid white;">
          <div class="bg-overlay" style="opacity: 0.4; background-color: black;"></div>
          <div class="bg-overlay" style="opacity: 1; background-color: black;"></div></div>
          </div>

          </div>
          </a>



                       <a href="/assets/profiles/addax-bio.pdf" target="_blank">

          <div class="gallery-item col-sm-3 no-padding hover-zoom" style="position: absolute; left: 0px; top: 227px;">

          <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title text-white no-margin">Addax Bio-Energy Plant</h5>
          <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">2014</h6>
          <p class="font-arial fs-11 text-white m-t-5 m-b-0">Electrical &amp; Instrumentation Installation / Construction &amp;…</p>
          </div>


                       <div class="ar-1-1">
          <div data-pages-bg-image="/assets/images/projects/bio-energy.gif" data-bg-overlay="black" data-overlay-opacity="0.4" style="background-image: url(/assets/images/projects/bio-energy.gif); border: 1px solid white;">
          <div class="bg-overlay" style="opacity: 0.4; background-color: black;"></div>
          <div class="bg-overlay" style="opacity: 1; background-color: black;"></div></div>
          </div>

          </div>
          </a>



                       <a href="/assets/profiles/jasper.pdf" target="_blank">

          <div class="gallery-item col-sm-3 no-padding hover-zoom" style="position: absolute; left: 227px; top: 227px;">

          <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title text-white no-margin">Jasper Solar PV Plant</h5>
          <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">2013</h6>
          <p class="font-arial fs-11 text-white m-t-5 m-b-0">Electrical Installation / Construction</p>
          </div>


                       <div class="ar-1-1">
          <div data-pages-bg-image="/assets/images/projects/jasper.gif" data-bg-overlay="black" data-overlay-opacity="0.4" style="background-image: url(/assets/images/projects/jasper.gif); border: 1px solid white;">
          <div class="bg-overlay" style="opacity: 0.4; background-color: black;"></div>
          <div class="bg-overlay" style="opacity: 1; background-color: black;"></div></div>
          </div>

          </div>
          </a>



                       <a href="/assets/profiles/bof-repair.pdf" target="_blank">

          <div class="gallery-item col-sm-6 no-padding hover-zoom" style="position: absolute; left: 455px; top: 227px;">

          <div class="inner bottom-left bottom-right padding-30">
          <h5 class="block-title text-white no-margin">BOF Fire Damage Repair</h5>
          <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">2014</h6>
          <p class="font-arial fs-11 text-white m-t-5 m-b-0">Fire damage repair project for a Basic Oxygen Furnace</p>
          </div>


                       <div class="ar-2-1">
          <div data-pages-bg-image="/assets/images/projects/bof-repair.gif" data-bg-overlay="black" data-overlay-opacity="0.4" style="background-image: url(/assets/images/projects/bof-repair.gif); border: 1px solid white;">
          <div class="bg-overlay" style="opacity: 0.4; background-color: black;"></div>
          <div class="bg-overlay" style="opacity: 1; background-color: black;"></div></div>
          </div>

          </div>
          </a>


          </div>
     <!-- END GALLERY ITEM -->
       </div>
</div>
<!-- END PORTFOLIO SECTION -->
 <div class="container">
     <div class="col-sm-12 m-t-40 m-b-40">
             <a class="btn btn-black btn-bordered p-l-20" href="/projects" role="button">View all projects</a>
     </div>
 </div>
</section>
