<!-- vendor scripts -->
<script type="text/javascript" src="/assets/plugins/pace/pace.min.js"></script>
<script type="text/javascript" src="/pages/js/pages.image.loader.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- swiper -->
<script type="text/javascript" src="/assets/plugins/swiper/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/velocity/velocity.min.js"></script>
<script type="text/javascript" src="/assets/plugins/velocity/velocity.ui.js"></script>
<script type="text/javascript" src="/assets/plugins/lightbox/js/lightbox.min.js"></script><div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div><div id="lightbox" class="lightbox" style="display: none;"><div class="lb-outerContainer"><div class="lb-container"><img class="lb-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="><div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div><div class="lb-loader"><a class="lb-cancel"></a></div></div></div><div class="lb-dataContainer"><div class="lb-data"><div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div><div class="lb-closeContainer"><a class="lb-close"></a></div></div></div></div>
<!-- Waits for the images to be loaded before applying the Isotope plugin -->
<script type="text/javascript" src="/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<!-- Isotope plugin arranges the card layout -->
<script type="text/javascript" src="/assets/plugins/jquery-isotope/isotope.pkgd.min.js"></script>
<!-- retina image loader -->
<script type="text/javascript" src="/assets/plugins/jquery-unveil/jquery.unveil.min.js"></script>
<!-- /vendor scripts -->

<!-- pages frontend -->
<script type="text/javascript" src="/pages/js/pages.frontend.js"></script>
<script type="text/javascript" src="/pages/js/pages.social.js"></script>

<script type="text/javascript" src="/pages/js/smooth.scroll.js"></script>
<script>
    smoothScroll.init();
</script>
<!-- <script type="text/javascript" src="/pages/js/pages.scroll.js"></script> -->
<!-- /pages frontend -->

<!-- custom scripts -->
<script type="text/javascript" src="/assets/js/custom.js"></script>
<script type="text/javascript" src="/assets/js/gallery.js"></script>
<!-- /custom scripts -->

{{ template "_internal/google_analytics.html" . }}

</body></html>
