<section id="services" class="bg-master-lightest">
    <!-- BEGIN PRICING SECTION -->
    <section class="demo-hero-5">
        <div class="container-xs-height full-height bg-dark-blue">
            <div class="col-xs-height col-middle text-center">
                <h2 class="p-b-50 m-b-40 text-white">
                    We offer Specialist Engineering, Procurement &amp; Contracting Services                </h2>
            </div>
        </div>
        <div class="bg-overlay"></div></section>

        <section class="">
        <!-- REMOVE .pricing-layout-overflow-top to avoid top overflow -->
        <div class="container pricing-layout-overflow-top">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="panel panel__service panel__service-primary">
                    <div class="pricing-heading">
                        <div class="bg-master-light">
                        <!-- image -->
                                                    <img class="img-responsive" src="/thumbs/services_control-ba4c88195c30eb4cb63e91bf75ab3123.gif" alt="Control &amp; Automation">
                                                <!-- /image -->
                        </div>

                        <div class="p-l-10 bg-white p-t-20">
                            <b>Control &amp; Automation</b>
                        </div>
                    </div>
                    <div class="pricing-details bg-white p-t-10 p-l-10 p-r-10">
                        <p>We are set up to provide a full suite of engineering &amp; construction services for control and automation systems for greenfield developments and plant modernisations.</p>
<ul>
<li>Control &amp; Automation Services</li>
<li>Procurement &amp; Construction</li>
<li>Greenfield Developments</li>
<li>Plant Modernisation</li>
</ul>                    </div>
                </div>
                </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="panel panel__service panel__service-info">
                    <div class="pricing-heading">
                        <div class="bg-master-light">
                        <!-- image -->
                                                    <img class="img-responsive" src="/thumbs/services_electrical-1fd19275779f2461b41347eede49fa47.gif" alt="Electrical &amp; Instrumentation">
                                                <!-- /image -->
                        </div>

                        <div class="p-l-10 bg-white p-t-20">
                            <b>Electrical &amp; Instrumentation</b>
                        </div>
                    </div>
                    <div class="pricing-details bg-white p-t-10 p-l-10 p-r-10">
                        <p>Lead EPC offers project management, engineering, procurement, construction, and commissioning services for electrical and instrumentation installations.</p>
<ul>
<li>Instrumentation Installations</li>
<li>Project Management</li>
<li>Procurement</li>
<li>Electrical Services</li>
</ul>                    </div>
                </div>
                </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="panel panel__service panel__service-success">
                    <div class="pricing-heading">
                        <div class="bg-master-light">
                        <!-- image -->
                                                    <img class="img-responsive" src="/thumbs/services_multi-a4a95a2bf2216cbe773640e0066eda4d.gif" alt="Multi-disciplined">
                                                <!-- /image -->
                        </div>

                        <div class="p-l-10 bg-white p-t-20">
                            <b>Multi-disciplined</b>
                        </div>
                    </div>
                    <div class="pricing-details bg-white p-t-10 p-l-10 p-r-10">
                        <p>We provide engineering, procurement, construction, and commissioning services for a specialist balance of greenfield multi-disciplinary projects, and plant upgrades.</p>
<ul>
<li>Multi-disciplinary projects</li>
<li>Project Management</li>
<li>Commissioning Services</li>
<li>Plant Modernisations &amp; Upgrades</li>
</ul>                    </div>
                </div>
                </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="panel panel__service panel__service-dark">
                    <div class="pricing-heading">
                        <div class="bg-master-light">
                        <!-- image -->
                                                    <img class="img-responsive" src="/thumbs/services_piping-95cebd5bd619f6a48b30d9d188c41723.gif" alt="Mechanical &amp; Piping Fabrication">
                                                <!-- /image -->
                        </div>

                        <div class="p-l-10 bg-white p-t-20">
                            <b>Mechanical &amp; Piping Fabrication</b>
                        </div>
                    </div>
                    <div class="pricing-details bg-white p-t-10 p-l-10 p-r-10">
                        <p>Our construction capabilities for mechanical &amp; piping projects include the design &amp; engineering; procurement, fabrication, installation, and plant maintenance.</p>
<ul>
<li>Piping &amp; Fabrication</li>
<li>Ferrous &amp; Non-Ferrous Piping</li>
<li>Steel Structures &amp; Supports</li>
<li>Pressure Vessels</li>
</ul>                    </div>
                </div>
                </div>
                    </div>
        </section>
        <!-- END PRICING SECTION -->
    </section> 
