<article class="post">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="post-meta"><b>{{ .Date.Format "Mon, Jan 2, 2006" }} - {{ .FuzzyWordCount }} Words </b></div>
      <h1 id="title">{{ .Title }}</h1>

      <div class="row">
        <div class="col-md-6">
          <div class="article">
            {{ .Content }}
          </div>
        </div>
        <div class="col-md-6">

        </div>

      </div>
    </div>
  </div>

</article>
