{{ $baseurl := .Site.BaseURL }}

<article class="post">

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-4">
          <img src="{{ $baseurl }}/projects/{{ .Title | urlize }}/{{ .Title | urlize }}.gif" alt="" class="img-responsive" />
        </div>
        <div class="col-md-8">
          <h4 id="title">{{ .Title }}</h4>
          <hr/>
          {{ .Content }}
        </div>

      </div>
    </div>
  </div>

</article>
